<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get The Facts</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
    
    <header>
        <div class="nav">
            <ul>
                <li><img src="{% static 'images/voteremotewhitetrans.png' %}" alt="voteremote logo"></li>
                <div class="nav-buttons">
                    <li><a href="/">Voting Map</a></li>
                    <li><a href="/pollworker/">Become a Poll Worker</a></li>
                    <li><a href="/getthefacts/">Get The Facts</a></li>
                    
                </div>            
            </ul>
        </div>       
    </header>


    <h1>There's a lot of misinformation about voting by mail. Here are the real facts.</h1>

    <p>With coronavirus still a very prominent threat across the US, many people are 
        understandably worried about voting in person during the 2020 presidential election.
        Some states have chosen to react preemptively and offer mail in ballots for all 
        registered voters, while others are insisting that things must go on as normal.
        <br><br>  
        The president has voiced his concern that "mail in ballots are very dangerous for 
        this country" because of cheaters", but the truth is that mail in voting is 
        actually very safe.
    </p>

</body>
</html>